<html>
<head>
    <title>Andrew Eppigner and Joshua Luo - Video Game Database</title>
    <link rel="stylesheet" href="static/css/add_platform.css" type="text/css">
</head>
<body>
	<h1>Add Stuff</h1>
	 <form>
  <label for="Title">Title:</label><br>
  <input type="text" id="Title" name="Title"><br>
  <label for="ESRB">ESRB:</label><br>
  <input type="text" id="ESRB" name="ESRB"><br>
  <label for="Genre">Genre:</label><br>
  <input type="text" id="Genre" name="Genre">
  <label for="Release">Release:</label><br>
  <input type="text" id="Release" name="Release">
  <label for="Developer">Developer:</label><br>
  <input type="text" id="Developer" name="Developer">
  <label for="Franchise">Franchise:</label><br>
  <input type="text" id="Franchise" name="Franchise">
</form> 
	<script src="yourscript.js"></script>
</body>
</html>

