<html>
<head>
    <title>Andrew Eppigner and Joshua Luo - Video Game Database</title>
    <link rel="stylesheet" href="static/css/add_franchise.css" type="text/css">
</head>
<body>

	<script src="yourscript.js"></script>
</body>
</html>