<html>
<head>
    <title>Andrew Eppigner and Joshua Luo - Video Game Database</title>
    <link rel="stylesheet" href="static/css/add_platform.css" type="text/css">
</head>
<body>
	<h1>Add Games to Database</h1>
	 <form>
  <label for="Title">Title:</label><br>
  <input type="text" id="Title" name="Title"><br>
  <label for="ESRB">ESRB:</label><br>
  <select name="ESRB" id="ESRB"><br>
  		<option>-Select One-</option>
  		<option value="E">E</option>
  		<option value="E 10+">E 10+</option>
  		<option value="T">T</option>
  		<option value="M">M</option>
  		<option value="A">A</option>
  </select><br>
  <label for="Platform">Platform:</label><br>
  <select name="Platform"><br>
  		<option>-Select One-</option>
  		<option value="PlayStation">PlayStation</option>
  		<option value="PlayStation 2">PlayStation 2</option>
  		<option value="PlayStation 3">PlayStation 3</option>
  		<option value="PlayStation 4">PlayStation 4</option>
  		<option value="PlayStation 5">PlayStation 5</option>
  		<option value="Xbox">Xbox</option>
  		<option value="Xbox 360">Xbox 360</option>
  		<option value="Xbox One">Xbox One</option>
  		<option value="Xbox Series S/X">Xbox Series S/X</option>
  		<option value="Nintendo 64">Nintendo 64</option>
  		<option value="GameCube">GameCube</option>
  		<option value="Wii">Wii</option>
  		<option value="Wii U">Wii U</option>
  		<option value="Switch">Switch</option>
  		<option value="PC">PC</option>
  </select><br>
  <label for="Genre">Genre:</label><br>
  <input type="text" id="Genre" name="Genre"><br>
  <label for="Release">Release:</label><br>
  <input type="date" id="Release" name="Release"><br>
  <label for="Developer">Developer:</label><br>
  <input type="text" id="Developer" name="Developer"><br>
  <label for="Franchise">Franchise:</label><br>
  <input type="text" id="Franchise" name="Franchise"><br>
  <input type="submit" value="Submit">
</form> 
	<script src="yourscript.js"></script>
</body>
</html>

