<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Andrew Eppinger and Joshua Luo - Video Game Database</title>
    <link rel="stylesheet" href="static/css/main.css" type="text/css">
 	</head>
 	<body>
    <div class="topnav">
  		<table id="crudTable">
        <tr>
          <td><a href="/">Catalog</a></td>
          <td><a href="add">Add Something</a></td>
          <td><a href="delete">Delete Something</a></td>
          <td><a href="update">Update/Edit Something</a></td>
      </table>
    </div>
      <h1 id="titlesTableHeader">Video Game Catalog</h1>
  		<h3 id="filterHeader">Filter Options:</h3>
      <div class="filterOptions"></div>
  		<table id="filterTable">
  			<tr>
  		  <th class="filterBy">Title Name</th>
          <th class="filterBy">Platform:</th>
          <th class="filterBy">Release Date:</th>
          <th class="filterBy">Genre:</th>
          <th class="filterBy">Franchise:</th>
          <th class="filterBy">Developer:</th>
          <th class="filterBy">ESRB Rating:</th>
        <tr>
        		<td>
        			<input type="text" id="searchTitleName">
  				<td>
  					<select id="searchTitlePlat">
  						<option v></option>
  						<option value="PS1">PlayStation</option>
  						<option value="PS2">PlayStation 2</option>
  						<option value="PS3">PlayStation 3</option>
  						<option value="PS4">PlayStation 4</option>
  						<option value="PS5">PlayStation 5</option>
  						<option value="Xbox">Xbox</option>
  						<option value="Xbox 360">Xbox 360</option>
  						<option value="Xbox One">Xbox One</option>
  						<option value="Xbox Series S/X">Xbox Series S/X</option>
  						<option value="N64">Nintendo 64</option>
  						<option value="GameCube">GameCube</option>
  						<option value="Wii">Wii</option>
  						<option value="WiiU">Wii U</option>
  						<option value="Switch">Switch</option>
  						<option value="Windows">Windows</option>
  					</select>
  				</td>
  				<td>
  					From:<br/><input type="date" id="titleFromDate"><br/>To:<br/><input type="date" id="titleToDate">
  				</td>
  				<td>
  					<select id="titleGenre">
  						<option></option>
  						<option value="fps">First-Person Shooter</option>\
  						<option value="moba">Multiplayer Online Battle Arena</option>
            </select>
  				</td>
  				<td>
  					<select id="titleFranchise">
  						<option></option>
  						<option value="Call of Duty">Call of Duty</option>
  						<option value="Halo">Halo</option>
            </select>
  				</td>
          <td>
            <select id="titleDev">
              <option></option>
              <option value="Activision">Activision</option>
              <option value="343 Industries">343 Industries</option>
            </select>
          </td>
  				<td>
  					<select id="titleESRB">
  						<option></option>
  						<option value="E">E - Everyone</option>
  						<option value="T">T - Teen</option>
  						<option value="M">M - Mature</option>
            </select>
  				</td>
  		</table>
  		<button type="button" id="filterButton">Filter</button>

  		<br/>
  		<br/>

  		<table id="titlesTable">
  			<tr>
  				<th>Title</th>
  				<th>Platforms</th>
  				<th>
  					<div>Release Date</div>
  					<div>(North America)</div>
  				</th>
  				<th>Genre</th>
  				<th>Franchise</th>
  				<th>Developer</th>
  				<th>ESRB Rating</th>
        
        {% for r in rows %}
        <tr>
          <td>{{ r[1] }}</td>
          <td>
            Platform List Query Results
          </td>
          <td>{{ r[2] }}</td>
          <td>{{ r[3] }}</td>
          <td>{{ r[4] }}</td>
          <td>{{ r[5] }}</td>
          <td>{{ r[6] }}</td>
        {% endfor %}

  		</table>

   		<script src="static/js/main.js"></script>
 	</body>
</html>