<html>
<head>
    <title>Andrew Eppigner and Joshua Luo - Video Game Database</title>
</head>
<body>
<form id="form"> 
  <input type="search" id="query" name="q" placeholder="Search...">
  <button>Search</button>
</form>
</body>
</html>
